@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Message Blaster</h1>
    <p>40 characters short of Twitter!</p>
    <label>Add a new message:</label>
    <input type="text" size="100" data-bind="value: newMessage" />
    <button class="btn btn-default" data-bind="click:postNew">Post Me!</button>
</div>

<div class="row">
    <div id="liveExample">




        <div class="col-md-2 pull-right">
            <label><input type="radio" value="Starred" data-bind="checked: filterValue" />Starred</label><br />
            <label><input type="radio" value="Unstarred" data-bind="checked: filterValue" />Unstarred</label><br />
            <label><input type="radio" value="All" data-bind="checked: filterValue" />All</label><br />
            <button data-bind="click: loadData">Filter Data</button>
        </div>
        <div class="col-md-10">
            <div data-bind="if: isLoaded()">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Message Id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td class="text-right"><div data-bind="visible: Favorited"><i class="glyphicon glyphicon-star glyphicon-2x" style="color: yellow"></i></div></td>
                            <td data-bind="text: Body"></td>
                            <td data-bind="text: MessageId"></td>
                            <td>
                                <button data-bind="click: $parent.starMessage">Toggle Star</button>
                                <button data-bind="click: $parent.deleteMessage">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/app.js") 
}